@model IEnumerable<MiBotica.SolPedido.Entidades.Core.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<div class="container mt-4 animate__animated animate__fadeIn">
    <h2>Lista de Clientes</h2>

    <p>
        <a href="@Url.Action("Create", "Cliente")" class="btn" style="background-color: #605ca8; color: #f9fafc;">Crear Nuevo</a>
    </p>

    <div class="card shadow-lg p-4 animate__animated animate__fadeIn">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().NombreCompleto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Zona)
                    </th>
                    <th class="text-center">Acciones</th> <!-- Alineado al centro -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zona)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", "Cliente", new { id = item.Codigo })" class="btn btn-sm" style="background-color: #605ca8; color: #f9fafc;">Editar</a>
                        <a href="@Url.Action("Details", "Cliente", new { id = item.Codigo })" class="btn btn-sm" style="background-color: #17a2b8; color: #fff;">Detalles</a>
                        <a href="@Url.Action("Delete", "Cliente", new { id = item.Codigo })" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
}
